.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  width: 100%;
  z-index: 100;
  background: #F6F6F6;
  position: fixed;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: auto;
  position: fixed;
  z-index: 100;
}

.links {
  background: #F6F6F6;
  top: 10%;
  left: 100%;
  width: 100%;
  height: 35vh;
  position: fixed;
  transition: 0.5s all ease-in-out;
  z-index: 100;
}
.links.active {
  left: 0%;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.navigation .nav-link a {
  font-weight: 500;
  font-size: 16px;
}

#logo img {
  width: 140px;
  height: 25px;
}

.burger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.burger .bar {
  height: 3px;
  width: 2rem;
  background-color: #454545;
  border-radius: 3rem;
  transition: 0.5s all ease;
}

.bar1.active {
  transform: rotateZ(45deg);
  position: absolute;
}

.bar2.active {
  width: 0;
  opacity: 0;
}

.bar3.active {
  transform: rotateZ(-45deg);
  position: absolute;
}

@media screen and (min-width: 768px) {
  .burger {
    width: 3rem;
    height: 3rem;
  }
  .burger .bar {
    width: 3rem;
    height: 3px;
  }

  #logo img {
    width: 230px;
    height: 48px;
  }
}
@media screen and (min-width: 1180px) {
  .burger {
    display: none;
  }

  .links {
    background: #F6F6F6;
    width: 60%;
    height: 100%;
    position: static;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
  }
}
header {
  overflow-y: hidden;
  height: 70vh;
}

.hero-image {
  width: 100%;
  height: 60vh;
  background-image: url(../assets/images/hero2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-text {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: auto;
  color: #ffffff;
}
.hero-text .primary-button {
  align-self: center;
}

.catchy {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .hero-text .primary-button {
    align-self: flex-start;
  }

  .catchy {
    font-size: 24px;
  }

  .hero-image {
    background-position-y: -10px;
  }
}
@media screen and (min-width: 1180px) {
  header {
    height: 100vh;
  }

  .hero-image {
    height: 80vh;
    background-position-y: bottom;
  }

  .hero-text {
    z-index: 100;
    height: 90%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
ul a {
  color: #454545;
  text-decoration: none;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.info-text {
  line-height: 26px;
  font-size: 16px;
}

.primary-button {
  background: #D16A6E;
  font-size: 16px;
  color: #ffffff;
  border: none;
  width: auto;
  padding: 16px 32px;
  border-radius: 4rem;
  cursor: pointer;
}

section {
  transform: translateY(95px);
}

@media screen and (min-width: 768px) {
  .info-text {
    line-height: 32px;
    font-size: 20px;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
  }
}
@media screen and (min-width: 1180px) {
  h3 {
    font-size: 72px;
  }

  .hero-text .info-text {
    width: 55rem;
  }
}