<<<<<<< HEAD
<<<<<<< Updated upstream
// Responsive
// Mobile
@media (min-width: 360px) and (max-width: 767px) {}
=======
header {
    overflow-y: hidden;
    height: 70vh;
}
>>>>>>> Hero

.hero-image {
    width: 100%;
    height: 60vh;
    background-image: url(../assets/images/hero2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    @include flex(space-evenly, flex-start, column);
    width: 80%;
    height: 100%;
    margin: auto;
    color: $white;
    .primary-button {
        align-self: center;
    }
}

.catchy {
    font-size: 16px;
    font-weight: 400;
}

// Small dekstop / Tablet
@media screen and (min-width: 768px) {
    .hero-text {
        .primary-button {
            align-self: flex-start;
        }
    }
    .catchy {
        font-size: 24px;
    }
    .hero-image {
        background-position-y: -10px;
    }
}

<<<<<<< HEAD
//  Desktops
@media (min-width: 1366px) and (max-width: 1679px) {}
=======
header,
.hero-image {
    overflow-y: hidden;
}

#hero {
    height: 460px;
}

.hero-image {
    width: 100%;
    height: 70vh;
    background-image: url(../assets/images/hero2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    @include flex(space-evenly, flex-start, column);
    width: 80%;
    height: 80%;
    margin: auto;
    transform: translateY(10vh);
    .primary-button {
        align-self: center;
    }
    h3,
    p {
        color: $white;
    }
}

.catchy {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.6;
}

// Small dekstop / Tablet
@media screen and (min-width: 768px) {
    .hero-text {
        .primary-button {
            align-self: flex-start;
        }
    }
    .catchy {
        font-size: 24px;
    }
}

// Desktop
@media screen and (min-width: 1180px) {
=======
// Desktop
@media screen and (min-width: 1180px) {
    header {
        height: 100vh;
    }
>>>>>>> Hero
    .hero-image {
        height: 80vh;
        background-position-y: bottom;
    }
    .hero-text {
        z-index: 100;
        height: 90%;
<<<<<<< HEAD
        .info-text {
            width: 50%;
        }
    }
}
>>>>>>> Stashed changes
=======
    }
}
>>>>>>> Hero

// Wide-screen
@media (min-width: 1680px) {}