@import "variables";
@import "navbar";
@import "hero";
@import "perks";
@import "references";
@import "bhp";
@import "contact";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth
}

ul {
    @include flex(space-around, center, row);
    list-style: none;
    a {
        color: $black;
        text-decoration: none;
    }
<<<<<<< HEAD
<<<<<<< Updated upstream
}
=======
=======
>>>>>>> Hero
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.info-text {
    line-height: 26px;
    font-size: 16px;
}

.primary-button {
    background: $primary;
    font-size: 16px;
    color: $white;
    border: none;
    width: auto;
    padding: 16px 32px;
    border-radius: 4rem;
    cursor: pointer;
<<<<<<< HEAD
    &:hover {
        opacity: 0.8;
    }
}

section {
    overflow-x: hidden;
}

h3,
p {
    color: $black;
=======
}

section {
    transform: translateY(95px);
>>>>>>> Hero
}

// Small dekstop / Tablet
@media screen and (min-width: 768px) {
    .info-text {
        line-height: 32px;
        font-size: 20px;
    }
    h3 {
        font-size: 32px;
        font-weight: 700;
    }
}

// Desktop
@media screen and (min-width: 1180px) {
    h3 {
        font-size: 72px;
    }
    .hero-text {
        .info-text {
<<<<<<< HEAD
            width: 60%;
=======
            width: 55rem;
>>>>>>> Hero
        }
    }
}

// Wide-screen
<<<<<<< HEAD
@media (min-width: 1680px) {}
>>>>>>> Stashed changes
=======
@media (min-width: 1680px) {}
>>>>>>> Hero
